.customSelect :global(.react-select__control) {
  cursor: pointer;
  border-radius: 14px;
  padding: 14px 18px;
  width: 100%;
  /* display: block; */
  border: none;
  transition: all 0.4s ease-in-out;
  background: #f7f7fb;
  cursor: pointer;
}

.customSelect :global(.react-select__control--is-focused) {
  box-shadow: none;
}

.customSelect :global(.react-select__control:hover) {
  box-shadow: none;
}

.customSelect :global(.react-select__value-container) {
  /* padding: 0; */
}

.customSelect :global(.react-select__placeholder) {
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  color: #121417;
}

.customSelect :global(.react-select__single-value) {
  font-weight: 400;
  color: #121417;
}

.customSelect :global(.react-select__menu) {
  border-radius: 8px;
  margin-top: 4px;
  z-index: 2;
  width: 100%;
  border: 1px solid rgba(18, 20, 23, 0.05);
  border-radius: 14px;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02);
  background: #fff;
}

.customSelect :global(.react-select__option) {
  color: rgba(18, 20, 23, 0.2);
  font-size: 16px;
  padding: 4px 18px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.customSelect :global(.react-select__option:hover) {
  color: #121417;
  background-color: var(--form_color);
}

.customSelect :global(.react-select__dropdown-indicator) {
  color: var(--white);
  transition: all 0.2s ease-in-out;
}

.customSelect :global(.react-select__dropdown-indicator:hover) {
  color: #121417;
}

.customSelect
  :global(.react-select__control--menu-is-open)
  :global(.react-select__dropdown-indicator) {
  transform: rotate(180deg);
}

.customSelect :global(.react-select__indicator-separator) {
  display: none;
}
