@tailwind base;
@tailwind components;
@tailwind utilities;

.ReactModal__Overlay {
  background-color: rgba(18, 20, 23, 0.5) !important;
  z-index: 999;
}
.css-1nmdiq5-menu {
}
html {
  font-family: 'Manrope', sans-serif;
}
.active {
  background-color: #3470ff;
  border-radius: 34px;
  padding: 10px 15px;
  color: white;
}
