@tailwind base;
@tailwind components;
@tailwind utilities;

.ReactModal__Overlay {
  background-color: rgba(18, 20, 23, 0.5) !important;
  z-index: 999;
}
.css-1nmdiq5-menu {
}
html {
  font-family: 'Manrope', sans-serif;
}
.active {
  background-color: #ffffff;
  border-radius: 34px;
  padding: 10px 15px;
  color: rgb(0, 0, 0);
  & span {
    background-color: black;
    color: white;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(18, 20, 23, 0.05);
}
